@page "/exercise"
@inject ExerciseService exerciseService;
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@using Examensarbete.Shared.Model;
@using Newtonsoft.Json;

<MudGrid>
    @foreach (var item in exerciseService.ExerciseList)
    {
        <MudItem sx="6" sm="6">
            <MudPaper Class="d-flex align-center justify-center mud-width-full py-8" @onclick="(() => PickExercise(item))">@item.Name</MudPaper>
        </MudItem>

    }
</MudGrid>
<button @onclick="GetSessionState">Session</button>

<MudButton @onclick="SaveExercises">Go!</MudButton>

@code {
    ExerciseModel test = new();
    List<ExerciseModel> pickExercise = new();

    ExerciseModel NY = new();

    protected override async Task OnInitializedAsync()
    {
        await exerciseService.GetExercises();
        test = await exerciseService.GetSingelEx(1);

    }
    public async Task PickExercise(ExerciseModel exercise)
    {
        //NY.ID = 4;
        //NY.Name = "hej";
        //NY.Type = "snabb";
        pickExercise.Add(exercise);
        //await exerciseService.CreateWorkout(NY);
        //await exerciseService.CreateWorkout(pickExercise);
    }

    public async Task SaveExercises()
    {
        await sessionStorage.SetItemAsync("Exercise", pickExercise);

    }
    public async Task GetSessionState()
    {
        var name = await sessionStorage.GetItemAsync<string>("Exercise");

        List<ExerciseModel> myCustomObject = JsonConvert.DeserializeObject<List<ExerciseModel>>(name);
    }
}

