@using Examensarbete.Client.Components

        <MudPaper Class="pageContainer" Elevation="0">
            @if (!SetMinutes)
            {
                <Slider @bind-Minutes="Minutes" Disable="StartBtn" />
                <MudButton @onclick="(() => SetMinutes = true)" Disabled="@(Minutes > 0 ? false: true)">Next</MudButton>
            }
            else
            {
                @if (!StartBtn)
                {
                    <WorkoutSummery></WorkoutSummery>
                    <MudButton @onclick="StartTimer" Color="Color.Primary" Disabled="@(Minutes > 0 ? false: true)">Go!</MudButton>
                }
                else
                {
                    <MudText Typo="Typo.h4">@TimeLeft</MudText>
                    <div class="timerBtnContainer">
                    <MudButton @onclick="PauseTimer"> @(pause ? "resume" : "pause")</MudButton>
                    <MudButton @onclick="StopTimer"> Stop</MudButton>
                    </div>
                }
            }
        </MudPaper>
