@using Examensarbete.Shared.Model;
@using Newtonsoft.Json;
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManger;
@inject HttpClient Http

<MudPaper Class="positionCenter" Elevation="0">
    @if (!String.IsNullOrEmpty(newWorkout.Exercise))
    {
        <MudText>Sammanfattning</MudText>
        <ul>
            <li>@newWorkout.Exercise</li>
            <li>Type: @newWorkout.Focus</li>
            <li>Repetitions: @newWorkout.Repetition </li>
            <li>Total time: @newWorkout.TotalTime min</li>
        </ul>
    }

</MudPaper>
@*<MudButton @onclick="SaveTodDb"> Save workout TEST</MudButton>*@


@code {
    WorkoutModel? newWorkout = new();

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();

        //CreateWorkout createWorkout1 = new();
        //newWorkout = await createWorkout1.GetAndSetWorkout();

        var focus = await sessionStorage.GetItemAsync<string>("Focus");
        var workout = await sessionStorage.GetItemAsync<string>("Workout");
        var time = await sessionStorage.GetItemAsync<int>("Time");
        newWorkout = JsonConvert.DeserializeObject<WorkoutModel>(workout);
        newWorkout.TotalTime = time;
        newWorkout.Focus = focus;
        newWorkout.Date = DateTime.Now;

        //TEST
        CreateWorkout createWorkout = new();
        var GetRoundSRepsFocus = createWorkout.GetFocusArea(focus);
        newWorkout.Repetition = GetRoundSRepsFocus.Repetition;
        newWorkout.IntervallOff = GetRoundSRepsFocus.IntervallOff;
        newWorkout.IntervallOn = GetRoundSRepsFocus.IntervallOn;

        await sessionStorage.SetItemAsync<WorkoutModel>("Workout", newWorkout);
    }


    //public async Task SaveTodDb()
    //{

    //    await Http.PostAsJsonAsync("api/Ny", newWorkout);
    //    NavigationManger.NavigateTo("/");
    //}
}
