@using Examensarbete.Shared.Model;
@using Newtonsoft.Json;
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManger;
@inject HttpClient Http

<MudPaper Class="positionCenter" Elevation="0">
    @if (!String.IsNullOrEmpty(newWorkout.Exercise))
    {
        <MudText>Sammanfattning</MudText>
        <ul>
            <li>@newWorkout.Exercise</li>
            <li>Type: @newWorkout.Focus</li>
            <li>Repetitions: @newWorkout.Repetition </li>
            <li>Total time: @newWorkout.TotalTime min</li>
        </ul>
    }

</MudPaper>
<MudButton @onclick="SaveTodDb"> Save workout TEST</MudButton>


@code {
    NyWorkoutModel? newWorkout = new();

    protected override async Task OnInitializedAsync()
    {
        base.OnInitialized();
        var focus = await sessionStorage.GetItemAsync<string>("Focus");
        var workout = await sessionStorage.GetItemAsync<string>("Workout");
        var time = await sessionStorage.GetItemAsync<int>("Time");
        newWorkout = JsonConvert.DeserializeObject<NyWorkoutModel>(workout);
        newWorkout.TotalTime = time;
        newWorkout.Focus = focus;
        newWorkout.Date = DateTime.Now;

        await sessionStorage.SetItemAsync<NyWorkoutModel>("Workout", newWorkout);
    }


    public async Task SaveTodDb()
    {

    await Http.PostAsJsonAsync("api/Ny", newWorkout);
        NavigationManger.NavigateTo("/");
    }
}
